<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Groopi">
    <title>Groopi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="note">This website is unavailable on mobile :(</div>

    <div id="container">

      <div id="header">
        <div id="hleft">
          <a href="/" id="title" class="navbutton">Groopi</a>
          <a href="aboutus" class="hide navbutton">About Us <i class="fa-solid fa-angle-down"></i></a>
        </div>
        <div id="hright">
          <a href="login" class="navbutton">Login</a>
          <a href="signup" class="navbutton">Signup</a>
        </div>
      </div>

      <div id="main">
        <div class="main-section">
          <div class="horizontal-section">
            <div id="slogan">
              Reach your fullest <br>
              academic potential <br>
              with <span style="color:#FF8E3C">Groopi</span>
            </div>
  
            <button id="start">
              Get Started
            </button>
  
            <div class="description">
              <h2 class="description-title">
                Lorem Ipsum
              </h2>
              <div class="description-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse vitae massa non sapien congue egestas. 
                Quisque euismod egestas eros, eu tempor justo laoreet ac. 
                Nullam pellentesque hendrerit orci, eu elementum quam tristique nec. 
                Proin eleifend sodales eros sit amet tincidunt. 
                Aenean non risus vitae lorem laoreet accumsan.
              </div>
            </div>
          </div>
  
          <div class="horizontal-section">
            <img class="hide" src="/img/logo.png" width="500"> 
          </div>
        </div>
      </div>

      <div id="info">
        <h1 id="info-title">Features & Benefits</h1>
        <div class="main-section" id="info-flex">
          <div class="horizontal-section">
            <div class="description">
              <h2 class="description-title">
                Lorem Ipsum
              </h2>
              <div class="description-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse vitae massa non sapien congue egestas. 
                Quisque euismod egestas eros, eu tempor justo laoreet ac. 
                Nullam pellentesque hendrerit orci, eu elementum quam tristique nec. 
                Proin eleifend sodales eros sit amet tincidunt. 
                Aenean non risus vitae lorem laoreet accumsan.
              </div>
            </div>
          </div>
          <div class="horizontal-section">
            <img class="hide" src="http://placekitten.com/400/300"> 
          </div>
        </div>
        <div class="main-section" id="info-flex">
          <div class="horizontal-section">
            <img class="hide" src="http://placekitten.com/400/300"> 
          </div>
          <div class="horizontal-section">
            <div class="description">
              <h2 class="description-title">
                Lorem Ipsum
              </h2>
              <div class="description-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse vitae massa non sapien congue egestas. 
                Quisque euismod egestas eros, eu tempor justo laoreet ac. 
                Nullam pellentesque hendrerit orci, eu elementum quam tristique nec. 
                Proin eleifend sodales eros sit amet tincidunt. 
                Aenean non risus vitae lorem laoreet accumsan.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="footer">
      </div>
    </div>
  </body>
</html>