<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Groopi">
    <title>Groopi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    

    <div id="header">
        <div id="hleft">
            <a href="/" id="title" class="navbutton">Groopi</a>
            <a href="aboutus" class="hide navbutton">About Us <i class="fa-solid fa-angle-down"></i></a>
        </div>
        <div id="hright">
            <a href="login" class="navbutton">Login</a>
            <a href="signup" class="navbutton">Signup</a>

        </div>
    </div>

    <div id="main">
        main
    </div>

    <div id="info">
        info
    </div>

    <div id="footer">
        footer
    </div>

</body>

</html>