<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Groopi">
    <title>Groopi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
        integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="note">This website is unavailable on mobile :(</div>

    <div id="container">

        <div id="header">
            <div id="hleft">
                <a href="/" id="title" class="navbutton">Groopi</a>
                <a href="aboutus" class="hide navbutton">About Us <i class="fa-solid fa-angle-down"></i></a>
            </div>
            <div id="hright">
                <a href="login" class="navbutton">Login</a>
                <a href="signup" class="navbutton">Signup</a>
            </div>
        </div>

        <div id="main">
            <div class="main-section">
                <div class="horizontal-section">
                    <div id="slogan">
                        Signup to <span style="color:#FF8E3C">Groopi</span>
                    </div>

                    <form id="signup-form" action="signup" method="POST">
                        <div id="error">* Incorrect repeated password</div>
                        <input name="email" type="text" class="signup-input" id="email" placeholder="Email address">
                        <input name="username" type="text" class="signup-input" id="username" placeholder="Username">
                        <input name="password" type="password" class="signup-input" id="password" placeholder="Password">
                        <input name="repeatPassword" type="password" class="signup-input" id="repeat" placeholder="Repeat Password">

                        <button type="submit" class="main-button">
                            Sign up!
                        </button>
                    </form>
                </div>

                <div class="horizontal-section">
                    <img class="hide" src="/img/logo.png" width="500">
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="main-section">
                <div class="horizontal-section footer-section footer-left">
                    <h1>Groopi</h1>
                    Reach your fullest academic potential with Groopi
                </div>

                <div class="horizontal-section">
                    <img class="hide" src="/img/logo.png" width="80">
                </div>

                <div class="horizontal-section footer-section" id="footer-right">
                    <h3>About groopi</h3>
                    <a href="aboutus">About us</a>
                    <a href="contactus">Contact us</a>
                    <a href="supportus">Support us</a>
                    <a href="https://youtu.be/8G0omjVSh_U">Among us 📮</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>